
.navbar {
    height: 60px !important;
    width: 100%;
    background: #181918;
    font-size: large;
    }



.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}