

.navbar {
        min-height: 80px;
    }

.navbar-brand
    {
      font-family: 'Lato', sans-serif;
      color: white;
      font-size: 2em; 
      margin: 0px;
    }    

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}