/*--- header area ---*/
.header {
    background: #181918;
    padding: 10px 0px;}
.logo {
    float: left;
}
nav.main-menu {
    float: right;
    margin-left: 0;
}
.menu-area-main li:hover a, .menu-area-main li:focus a {
    color: #18bb18;
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}